@font-face {
  font-family: 'ProggyClean';
  src: url('/assets/fonts/ProggyClean.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.spotify-container {
  font-family: 'ProggyClean', monospace;
}
