<!DOCTYPE html>
<html lang="{{ page.lang | default: "en" }}">
    {%- include head.html -%}
  <body a="{{ site.theme_config.appearance | default: "auto" }}">
    <main class="page-content" aria-label="Content">
      <div class="w">

        <img src="../assets/images/dial.gif" alt="PC" width="80" style="display: block; margin: 0 auto;">

        {{ content }}
      </div>
    </main>
    <!-- Small image at the bottom -->
    <img src="../assets/images/merlin.webp" alt="Small Image" width="100" style="display: block; margin: 0 auto;">

  </body>
</html>
